@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --black:   #212122;
    --white:   #F2F2F2;
    --blue:    #12355B;
    --red:     #D72638;
    --green:   #169873;
    --font-monospaced: "Chivo Mono", monospace;
    --font-padrao: "Poppins", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

body {
    background-color: var(--black);
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--white);
    font-size: 3em;
    font-weight: 200;
    margin: 150px 0px 20px 0px;
}

.color {
    background-color: var(--green);
    width: 100vw;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timer {
    color: var(--white);
    font-size: 180px;
    font-weight: 700;
    text-align: center;
    font-family: var(--font-padrao);
    user-select: none;
}

.difFont {
    font-family: var(--font-monospaced);
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons {
    color: var(--white);
    cursor: pointer;
    padding: 0px 45px 0px 45px;
    font-size: 1.5em;
}

.start {
    width: 130px;
    height: 45px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.3em;
    margin: 20px 0px;
    cursor: pointer;
    border: 1px solid #afafaf;
}

.options {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.types {
    color: var(--white);
    font-weight: 200;
    padding-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 1s;
    transform: translate(0px, 0px);
}

.types:hover {
    transform: translate(0px, -2px);
    animation-duration: 1s;
    transition: 0.5s;
}
