@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --black:   #212122;
    --white:   #F2F2F2;
    --blue:    #12355B;
    --red:     #D72638;
    --green:   #169873;
    --font-monospaced: "Martian Mono", monospace;
    --font-padrao: "Poppins", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
    font-family: var(--font-padrao);
    color: var(--black);
}

body {
    background-color: var(--black);
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--white);
    font-size: 2.5em;
    font-weight: 200;
    margin: 30px 0px 200px 0px;
    transition: 0.5s;
}

.title:hover {
    animation-name: title-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
    cursor: pointer;
}

@keyframes title-animation{
    0%{
       color: var(--white);
    }

    40%{
        opacity: 5%;
    }
    
    60%{
        opacity: 100%;
        text-shadow: 0px 0px 5px #eeeeee;
    }

    100% {
        text-shadow: 0px 0px 5px #eeeeee00;
    }
 }

.color {
    width: 100%;
    text-align: center;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.red {
    background-color: var(--red);
    transition: 1s;
}

.green {
    background-color: var(--green);
    transition: 1s;
}

.blue {
    background-color: var(--blue);
    transition: 1s;
}

.timer {
    color: var(--white);
    font-size: 8em;
    font-weight: 500;
    text-align: center;
    font-family: var(--font-monospaced);
    user-select: none;
}

.container-grid {
    margin: 0px 150px;
    display: grid;
    flex-direction: center;
    justify-content: center;
    grid-template-areas:
    "settings start tasks"
    "settings reset tasks"
    "settings options tasks"
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    box-sizing: border-box;

    grid-area: start;
}

.icons {
    color: var(--white);
    cursor: pointer;
    padding: 0px 45px 0px 45px;
    font-size: 1.5em;
    display: inline-block;
    
}

.icons:hover {
    text-shadow: 0px 0px 10px #f2f2f24d;
}

.icon:before {
    font-family: "Font Awesome 5 Free";
}

.mainButton {
    width: 120px;
    height: 40px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
    border: 1px solid #afafaf;
}

.start {
    display: block;
}

.pause {
    display: none;
}

.restart {
    margin-bottom: 30px;
    grid-area: reset;
    padding-bottom: 50px;
    margin: auto;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    grid-area: options;
}

.types {
    color: var(--white);
    font-weight: 200;
    padding-top: 5px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: 1s;
    transform: translate(0px, 0px);
}

.types:hover {
    transform: translate(0px, -2px);
    animation-duration: 1s;
    transition: 0.5s;
}

.popup {
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 20px;
    width: 200px;
    padding: 15px;
    opacity: 0%;
    transition: 0.5s ease-in-out;
}

.settings {
    grid-area: settings;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: tasks;
}

.showPopup {
    opacity: 100%;
}

.tasksTitle {
    color: var(--black);
    padding-bottom: 5px;
    font-size: 1.2em;
    font-weight: 500;
}

.taskInput {
    width: 130px;
    border-radius: 5px;
    border: 1px solid #c2c2c9;
    padding: 5px 10px;
    height: 30px;
}

.taskList {
    list-style: none;
}

.containerInputTrash {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resetList {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #c2c2c9;
    background-color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.resetList:hover {
    background-color: var(--white);
}

.newItem {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    padding-right: 20px;
}

.newItem:checked {
    accent-color: var(--black);
}