@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --black:   #212122;
    --white:   #F2F2F2;
    --blue:    #12355B;
    --red:     #D72638;
    --green:   #169873;
    --font-monospaced: "Martian Mono", monospace;
    --font-padrao: "Poppins", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

body {
    background-color: var(--black);
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--white);
    font-size: 3em;
    font-weight: 200;
    margin: 250px 0px 50px 0px;
}

.color {
    width: 100vw;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.red {
    background-color: var(--red);
    transition: 1s;
}

.green {
    background-color: var(--green);
    transition: 1s;
}

.blue {
    background-color: var(--blue);
    transition: 1s;
}

.timer {
    color: var(--white);
    font-size: 10em;
    font-weight: 500;
    text-align: center;
    font-family: var(--font-monospaced);
    user-select: none;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    box-sizing: border-box;
}

.icons {
    color: var(--white);
    cursor: pointer;
    padding: 0px 45px 0px 45px;
    font-size: 1.8em;
    display: inline-block;
    
}

.icons:hover {
    text-shadow: 0px 0px 10px #f2f2f24d;
}

.icon:before {
    font-family: "Font Awesome 5 Free";
}

.mainButton {
    width: 130px;
    height: 45px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.3em;
    cursor: pointer;
    border: 1px solid #afafaf;
}

.start {
    display: block;
}

.pause {
    display: none;
}

.restart {
    margin-bottom: 30px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.types {
    color: var(--white);
    font-weight: 200;
    padding-bottom: 5px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: 1s;
    transform: translate(0px, 0px);
}

.types:hover {
    transform: translate(0px, -2px);
    animation-duration: 1s;
    transition: 0.5s;
}

.popup {
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 20px;
    width: 200px;
    padding: 15px;
}

.hidden {
    position: absolute;
    top: 52%;
}